{% extends 'about/about_base.html' %}

{% block title %}About 2048{% endblock %}

{% block header %}2048{% endblock %}

{% block image %}
  <img src="{{ url_for('static', filename='images/tic-tac-toe.png') }}" id="ttt-logo" alt="ttt">
{% endblock %}

<!-- About section -->
{% block about %}
  <p>

  </p>
{% endblock %}


<!-- Strategy section -->
{% block strategy %}
  <p>

  </p>
{% endblock %}


<!-- History section -->
{% block history %}
  <p>

  </p>
{% endblock %}


<!-- Other info section -->
{% block other_info %}
  <p>

  </p>
{% endblock %}
