{% extends 'bases/about_base.html' %}

{% block title %}About 2048{% endblock %}

{% block header %}2048{% endblock %}

{% block image %}
  <img src="{{ url_for('static', filename='images/2048/2048_logo.png') }}" class="rounded" id="two048-logo"
       alt="2048-logo">
{% endblock %}

<!-- About section -->
{% block about %}
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <p>
        <strong>2048</strong> is a single-player sliding block puzzle game designed by Italian web developer Gabriele
        Cirulli. The game's objective is to slide numbered tiles on a grid to combine them to create a tile with the
        number 2048. After reaching the 2048 tile, players can continue to play (beyond the 2048 tile). When the player
        has no legal moves (there are no empty spaces and no adjacent tiles with the same value), the game ends.
      </p>
      <p>
        2048 is played on a gray 4 × 4 grid, with numbered tiles that slide when a player moves them using the arrow
        keys. Every turn, a new tile will randomly appear in an empty spot on the board with a value of either 2 or 4.
        Tiles slide as far as possible in the chosen direction until they are stopped by either another tile or the edge
        of the grid. If two tiles of the same number collide while moving, they will merge into a tile with the total
        value of the two tiles that collided. The resulting tile cannot merge with another tile again in the same move.
      </p>
    </div>
    <div class="col-lg-3 col-md-12 text-center">
      <img src="{{ url_for('static', filename='images/2048/2048_win.png') }}" id="two048-win" alt="2048">
    </div>
  </div>

{% endblock %}


<!-- Strategy section -->
{% block strategy %}
  <p>
    When it comes to strategy, there isn't much for 2048. The best way to win a 2048 game is to always keep the biggest
    number in the corner of the grid, followed by the second largest number right next to it, and so on. This strategy
    works most of the time.
  </p>
{% endblock %}


<!-- Variant section -->
{% block variant %}
  <p>
    There are several variants to the game 2048, but none of the variant changes the game rules or the game play style.
    Several variants replaces numbers with symbols of all varieties, or instead using even numbers, some variants uses
    odd numbers. There are also a number of variants that increase the size of the grid (which in reality makes it
    easier to win). Other variants have a different shape of grid but the goal of all variants don't differ too much.
  </p>

  <div class="row text-center">
    <div class="col-md-6 col-sm-12">
      <img src="{{ url_for('static', filename='images/2048/2048_variant_1.png') }}" class="two048-variant" alt="2048">
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="{{ url_for('static', filename='images/2048/2048_variant_2.png') }}" class="two048-variant" alt="2048">
    </div>
  </div>
{% endblock %}


<!-- Other info section -->
{% block other_info %}
  <p>
    2048 was originally written in JavaScript and CSS during a weekend, and released on March 9, 2014, as free and
    open-source software subject to the MIT license. Clones written in C++ and Vala are available. There is also a
    version for the Linux terminal.
  </p>
  <p>
    19-year-old Cirulli created the game in a single weekend as a test to see if he could program a game from
    scratch; he was surprised when his game received over 4 million visitors in less than a week, especially since
    it was just a weekend project. "It was a way to pass the time", he said. The game is free to play, Cirulli
    having said that he was unwilling to make money from "something that [he] didn’t invent". He released a free app
    version of the game for iOS and Android in May 2014.
  </p>
{% endblock %}
