{% extends 'bases/auth_base.html' %}

{% block body %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-2 text-center">
        {% block image %}
        {% endblock %}
      </div>
      <div class="col-10 text-center">
        <h1 class="m-3 subheader">{% block header %}{% endblock %}</h1>
      </div>
    </div>
  </div>
  <hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#strategy">Strategy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#variant">Variant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#other-info">Other Info</a>
          </li>
        </ul>
      </div>

      <div class="col-10">
        <!-- About section -->
        <div class="card" id="about">
          <div class="card-header">
            <h3 class="m-1">About</h3>
          </div>
          <div class="card-body">
            {% block about %}
            {% endblock %}
          </div>
          <div class="card-footer text-right">
            <a role="button" href="#nav-bar">Return to Top</a>
          </div>
        </div>
        <br>

        <!-- Strategy section -->
        <div class="card" id="strategy">
          <div class="card-header">
            <h3 class="m-1">Strategy</h3>
          </div>
          <div class="card-body">
            {% block strategy %}
            {% endblock %}
          </div>
          <div class="card-footer text-right">
            <a role="button" href="#nav-bar">Return to Top</a>
          </div>
        </div>
        <br>

        <!-- Variant section -->
        <div class="card" id="variant">
          <div class="card-header">
            <h3 class="m-1">Variant</h3>
          </div>
          <div class="card-body">
            {% block variant %}
            {% endblock %}
          </div>
          <div class="card-footer text-right">
            <a role="button" href="#nav-bar">Return to Top</a>
          </div>
        </div>
        <br>

        <!-- Other info section -->
        <div class="card" id="other-info">
          <div class="card-header">
            <h3 class="m-1">Other Information</h3>
          </div>
          <div class="card-body ">
            {% block other_info %}
            {% endblock %}
          </div>
          <div class="card-footer text-right">
            <a role="button" href="#nav-bar">Return to Top</a>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

{% endblock %}