{% extends 'bases/base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2584979987073508",
          enable_page_level_ads: true
      });
  </script>
{% endblock %}

{% block content %}

  <!-- Navigation bar -->
  <div class="container-fluid" id="outer-container">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <strong><a class="navbar-brand" href="#">PyBoardGames</a></strong>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-bar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-info-circle"></i> About</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('about.ttt_about') }}">Tic Tac Toe</a>
              <a class="dropdown-item" href="{{ url_for('about.sudoku_about') }}">Sudoku</a>
              <a class="dropdown-item" href="{{ url_for('about.blackjack_about') }}">Blackjack</a>
              <a class="dropdown-item" href="{{ url_for('about.twenty_forty_eight_about') }}">2048</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-gamepad"></i> Games</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('ttt.tic_tac_toe') }}">Tic Tac Toe</a>
              <!--a class="dropdown-item" href="{{ url_for('2048.twenty_forty_eight') }}">2048</a>
              <a class="dropdown-item" href="{{ url_for('blackjack.blackjack') }}">Blackjack</a-->
              <a class="dropdown-item" href="{{ url_for('sudoku.sudoku') }}">Sudoku</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <br>

    {% block body %}
    {% endblock %}

    <hr>

    <footer class="footer">
      <p>&copy; 2018 Larry Shi. All Rights Reserved.</p>
    </footer>
  </div>

{% endblock %}