<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Custom icon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- Bootstrap core stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}">

    <!-- FontAwesome stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/fontawesome-all.min.css') }}">

    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <!-- Jquery and popper scripts -->
    <script src="{{ url_for('static', filename='vendor/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/popper.min.js') }}"></script>

    <!-- Bootstrap Script -->
    <script src="{{ url_for('static', filename='vendor/js/bootstrap.min.js') }}"></script>
  </body>
</html>