{% extends 'bases/base.html' %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6 col-sm-12 text-center" id="game-head-content">
        <h1>{% block header %}{% endblock %}</h1>
        <a class="home m-3" id="home" href="{{ url_for('index') }}"><i class="fas fa-home fa-2x"></i></a>
      </div>
    </div>

    <div class="row">
      {% block game_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
