{% extends 'bases/base.html' %}

{% block head %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2584979987073508",
          enable_page_level_ads: true
      });
  </script>

  {% block head_sec %}
  {% endblock %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-6 text-center" id="game-head-content">
        <h1>{% block header %}{% endblock %}</h1>
        <a class="home m-3" id="home" href="{{ url_for('index') }}"><i class="fas fa-home fa-2x"></i></a>
      </div>
    </div>

    <div class="row">
      {% block game_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
