{% extends 'auth/auth_base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

  <div class="jumbotron">
    <div class="container">
      {% if g.user %}
        <h1>Welcome back <strong>{{ g.user['username'] }}</strong> !</h1>
      {% else %}
        <h1>Classic Board Games Collection</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="{{ url_for('auth.register') }}" role="button">Sign up today</a>
        </p>
      {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="row marketing">
      <div class="col-lg-6">
        <h3>Tic Tac Toe</h3>
        <p>Interactive Tic Tac Toe game where the user can choose to either play against other
          human player or choose to play against the UNBEATABLE computer player!</p>

        <h3>2048</h3>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
          fermentum.</p>
      </div>

      <div class="col-lg-6">
        <h3>Blackjack</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h3>Sudoku</h3>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
          fermentum.</p>
      </div>
    </div>

    <hr>

    <footer class="footer">
      <p>&copy; Company 2018</p>
    </footer>
  </div>

{% endblock %}
