{% extends 'auth/auth_base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

  <div class="jumbotron">
    <div class="container">
      {% if g.user %}
        <h1>Welcome back <strong>{{ g.user['username'] }}</strong> !</h1>
      {% else %}
        <h1>Classic Board Games Collection</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="{{ url_for('auth.register') }}" role="button">Sign up today</a>
        </p>
      {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="row marketing">
      <div class="col-lg-6">
        <h3>Tic Tac Toe</h3>
        <p>Interactive Tic Tac Toe game where the user can choose to either play against other
          human players or choose to play against the UNBEATABLE computer player! Learn more about
          Tic Tac Toe game in the "About" page. </p>

        <h3>Sudoku</h3>
        <p>Interactive Sudoku game where the user can play various levels of difficulty
          of Sudoku puzzles with various game stats that keeps track of how the players are doing.
          Learn more about Sudoku game in the "About" page. </p>
      </div>

      <div class="col-lg-6">
        <h3>Blackjack</h3>
        <p>Interactive Blackjack game where the user can choose to either play against other human players
          or choose to play against a simple computer player who is also the host of the game!. Learn more about
          Blackjack game in the "About" page. </p>

        <h3>2048</h3>
        <p>Interactive 2048 game that allows the user to experience the exciting puzzle of 2048. Learn
          more about 2048 game in the "About" page.</p>
      </div>
    </div>

    <hr>

    <footer class="footer">
      <p>&copy; Company 2018</p>
    </footer>
  </div>

{% endblock %}
