body {
    background: #f4fff0;
}

.card-body, .text-content {
    font-family: 'Times New Roman', serif;
    font-size: 120%
}

.card-header {
    font-family: 'Lato', sans-serif
}

.subheader {
    font-family: 'Lato', sans-serif
}

#ttt-logo, #sudoku-logo, #two048-logo {
    width: 100px;
    height: 100px;
}

#sudoku, #ttt, #two048 {
    width: 200px;
    height: 200px;
}

#two048-win {
    width: 200px;
    height: 256px;
}

#blackjack-logo {
    width: 160px;
    height: 100px;
}

#blackjack {
    width: 210px;
    height: 160px;
}

#ttt-strategy-x, #ttt-strategy-o {
    width: 400px;
    height: 400px
}

.sudoku-variant {
    width: 350px;
    height: 350px;
}

.sudoku-strategy {
    width: 160px;
    height: 160px;
}

#outer-container {
    width: 86%
}
