body {
    background: #f4fff0;
}

.card-body, .text-content {
    font-family: 'Times New Roman', serif;
    font-size: 120%
}

.card-header {
    font-family: 'Lato', sans-serif
}

.subheader {
    font-family: 'Lato', sans-serif
}

.S {
    background: red;
    color: black
}

.H {
    background: lime;
    color: black
}

.SP {
    background: yellow;
    color: black
}

.SU {
    background: white;
    color: black
}

.Dh, .Ds {
    background: cyan;
    color: black
}

/* Mobile Styles */
@media only screen and (max-width: 425px) {
    #outer-container {
        width: 130%
    }

    .table {
        font-size: 30%;
    }

    /* Images Sizes */
    #ttt-logo, #sudoku-logo, #two048-logo {
        width: 100px;
        height: 100px;
    }

    #sudoku, #ttt, #two048 {
        width: 150px;
        height: 150px;
    }

    #two048-win {
        width: 200px;
        height: 256px;
    }

    #blackjack-logo {
        width: 160px;
        height: 100px;
    }

    #blackjack {
        width: 210px;
        height: 160px;
    }

    #ttt-strategy-x, #ttt-strategy-o {
        width: 200px;
        height: 200px
    }

    .sudoku-variant {
        width: 175px;
        height: 175px;
    }

    .two048-variant {
        width: 300px;
        height: 300px;
    }

    .sudoku-strategy {
        width: 160px;
        height: 160px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 426px) and (max-width: 960px) {
    #outer-container {
        width: 130%
    }

    .table {
        font-size: 30%;
    }

    /* Images Sizes */
    #ttt-logo, #sudoku-logo, #two048-logo {
        width: 100px;
        height: 100px;
    }

    #sudoku, #ttt, #two048 {
        width: 150px;
        height: 150px;
    }

    #two048-win {
        width: 200px;
        height: 256px;
    }

    #blackjack-logo {
        width: 160px;
        height: 100px;
    }

    #blackjack {
        width: 210px;
        height: 160px;
    }

    #ttt-strategy-x, #ttt-strategy-o {
        width: 200px;
        height: 200px
    }

    .sudoku-variant {
        width: 175px;
        height: 175px;
    }

    .two048-variant {
        width: 300px;
        height: 300px;
    }

    .sudoku-strategy {
        width: 160px;
        height: 160px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #outer-container {
        width: 86%
    }

    /* Images Sizes */
    #ttt-logo, #sudoku-logo, #two048-logo {
        width: 100px;
        height: 100px;
    }

    #sudoku, #ttt, #two048 {
        width: 200px;
        height: 200px;
    }

    #two048-win {
        width: 200px;
        height: 256px;
    }

    #blackjack-logo {
        width: 160px;
        height: 100px;
    }

    #blackjack {
        width: 210px;
        height: 160px;
    }

    #ttt-strategy-x, #ttt-strategy-o {
        width: 400px;
        height: 400px
    }

    .sudoku-variant {
        width: 350px;
        height: 350px;
    }

    .two048-variant {
        width: 300px;
        height: 300px;
    }

    .sudoku-strategy {
        width: 160px;
        height: 160px;
    }
}
