.game {
    background-color: transparent;
    width: 540px;
    height: 540px;
    margin: 30px auto;
}

.game-field {
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    color: #EAEAEA;
    font-size: 3em;
    padding: 8px 15px;
}

#one-one, #one-two, #one-three, #one-four, #one-five, #one-six, #one-seven, #one-eight, #one-nine {
    border-top: 3px solid #525B76;
    border-bottom: 1px solid #525B76;
}

#two-one, #two-two, #two-three, #two-four, #two-five, #two-six, #two-seven, #two-eight, #two-nine {
    border-bottom: 1px solid #525B76;
}

#three-one, #three-two, #three-three, #three-four, #three-five, #three-six, #three-seven, #three-eight, #three-nine {
    border-bottom: 3px solid #525B76;
}

#four-one, #four-two, #four-three, #four-four, #four-five, #four-six, #four-seven, #four-eight, #four-nine {
    border-bottom: 1px solid #525B76;
}

#five-one, #five-two, #five-three, #five-four, #five-five, #five-six, #five-seven, #five-eight, #five-nine {
    border-bottom: 1px solid #525B76;
}

#six-one, #six-two, #six-three, #six-four, #six-five, #six-six, #six-seven, #six-eight, #six-nine {
    border-bottom: 3px solid #525B76;
}

#seven-one, #seven-two, #seven-three, #seven-four, #seven-five, #seven-six, #seven-seven, #seven-eight, #seven-nine {
    border-bottom: 1px solid #525B76;
}

#eight-one, #eight-two, #eight-three, #eight-four, #eight-five, #eight-six, #eight-seven, #eight-eight, #eight-nine {
    border-bottom: 1px solid #525B76;
}

#nine-one, #nine-two, #nine-three, #nine-four, #nine-five, #nine-six, #nine-seven, #nine-eight, #nine-nine {
    border-bottom: 3px solid #525B76;
}

#one-one, #two-one, #three-one, #four-one, #five-one, #six-one, #seven-one, #eight-one, #nine-one {
    border-left: 3px solid #525B76;
    border-right: 1px solid #525B76;
}

#one-three, #two-three, #three-three, #four-three, #five-three, #six-three, #seven-three, #eight-three, #nine-three {
    border-left: 1px solid #525B76;
    border-right: 3px solid #525B76;
}

#one-five, #two-five, #three-five, #four-five, #five-five, #six-five, #seven-five, #eight-five, #nine-five {
    border-left: 1px solid #525B76;
    border-right: 1px solid #525B76;
}

#one-nine, #two-nine, #three-nine, #four-nine, #five-nine, #six-nine, #seven-nine, #eight-nine, #nine-nine {
    border-left: 1px solid #525B76;
    border-right: 3px solid #525B76;
}

#one-seven, #two-seven, #three-seven, #four-seven, #five-seven, #six-seven, #seven-seven, #eight-seven, #nine-seven {
    border-left: 3px solid #525B76;
    border-right: 1px solid #525B76;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.375em
}

#pencil-toggle {
    color: #afd9c8;
}

#pencil-toggle:hover {
    color: #8cc9b0
}

#undo {
    color: indianred;
}

#undo:hover {
    color: red;
}

#erase {
    color: #624c47
}

#erase:hover {
    color: #443532
}

.space {
    margin-top: 10px;
}

.space-2 {
    margin-top: 30px;
}

p.pencil {
    font-size: 0.3em;
    color: #000000;
}

p.not-pencil {
    color: #000000;
}

p.player {
    color: grey;
}

.error {
    color: orangered;
}

#num-pad {
    width: 10%
}

.selected {
    background: #faff64;
}
