/* Game Grid */
#one-one, #one-two, #one-three {
    border-bottom: 3px solid #525B76;
}

#one-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#two-one, #two-two, #two-three {
    border-bottom: 3px solid #525B76;
}

#two-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#three-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

/* Button Color and Hovered Color */
#start-human {
    color: #afd9c8
}

#start-human:hover {
    color: #8cc9b0
}

#start-comp {
    color: #624c47
}

#start-comp:hover {
    color: #443532
}

#pvp {
    color: indianred;
}

#pvp:hover {
    color: red;
}

#surrender {
    color: limegreen;
}

#surrender:hover {
    color: #1e7e34;
}

/* Game Character */
#circle {
    color: slategrey;
    position: relative;
    right: 16%;
    line-height: 1.25em;
}

#cross {
    color: slategrey;
    position: relative;
    line-height: 1.25em;
}

/* Spaces and Margins */
.space {
    color: #DCEBDF
}

.side-col {
    margin-top: 50px
}

/* Mobile Styles */
@media only screen and (max-width: 425px) {
    /* Game Grid */
    .game {
        background-color: transparent;
        width: 268px;
        height: 268px;
        margin: 50px auto;
    }

    .game-field {
        width: 89px;
        height: 89px;
        display: block;
        float: left;
        color: #EAEAEA;
        font-size: 4em;
        padding: 1px 19px;
    }

    /* Section Align */
    #messages {
        text-align: center;
    }

    #icons {
        display: block;
    }

    /* Icon Sizes */
    #human-icon, #comp-icon, #pvp-icon, #surr-icon {
        font-size: 3em;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 426px) and (max-width: 1023px) {
    /* Game Grid */
    .game {
        background-color: transparent;
        width: 335px;
        height: 335px;
        margin: 50px auto;
    }

    .game-field {
        width: 111px;
        height: 111px;
        display: block;
        float: left;
        color: #EAEAEA;
        font-size: 5em;
        padding: 1px 23px;
    }

    /* Section Align */
    #messages {
        text-align: center;
    }

    #icons {
        display: inline-block;
    }

    /* Icon Sizes */
    #human-icon, #comp-icon, #pvp-icon, #surr-icon {
        font-size: 3em;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    /* Game Grid */
    .game {
        background-color: transparent;
        width: 402px;
        height: 402px;
        margin: 50px auto;
    }

    .game-field {
        width: 134px;
        height: 134px;
        display: block;
        float: left;
        color: #EAEAEA;
        font-size: 6.3em;
        padding: 1px 27px;
    }

    /* Section Align */
    #messages {
        text-align: left;
    }

    /* Icon Sizes */
    #human-icon, #comp-icon, #pvp-icon, #surr-icon {
        font-size: 5em;
    }
}
