.game {
    background-color: transparent;
    width: 402px;
    height: 402px;
    margin: 50px auto;
}

.game-field {
    width: 134px;
    height: 134px;
    display: block;
    float: left;
    color: #EAEAEA;
    font-size: 6.3em;
    padding: 1px 27px;
}

#one-one, #one-two, #one-three {
    border-bottom: 3px solid #525B76;
}

#one-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#two-one, #two-two, #two-three {
    border-bottom: 3px solid #525B76;
}

#two-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#three-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#start-human {
    color: #afd9c8
}

#start-human:hover {
    color: #8cc9b0
}

#start-computer {
    color: #624c47
}

#start-computer:hover {
    color: #443532
}

#pvp {
    color: indianred;
}

#pvp:hover {
    color: red;
}

#surrender {
    color: limegreen;
}

#surrender:hover {
    color: #1e7e34;
}

#circle {
    color: slategrey;
    position: relative;
    right: 16%;
    line-height: 1.25em;
}

#cross {
    color: slategrey;
    position: relative;
    line-height: 1.25em;
}

.space {
    color: #DCEBDF
}

.side-col {
    margin-top: 50px
}
