{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  <!-- Bootstrap stylesheets and scripts -->
  <link rel="stylesheet"
        href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Board Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav-bar">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('board_games.index') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('board_games.tic_tac_toe') }}">Tic Tac Toe</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('board_games.twenty_forty_eight') }}">2048</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('board_games.blackjack') }}">Blackjack</a></li>
      </ul>
    </div>
  </nav>
  <br>
{% endblock %}
