{% extends 'bases/game_base.html' %}

{% block title %}Sudoko{% endblock %}

{% block head_sec %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sudoku.css') }}">

{% endblock %}

{% block header %}Sudoku{% endblock %}

{% block game_content %}

  <!-- Modal for winning sudoku -->
  <div class="modal fade" id="win-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">You Won!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close Message</button>
          <a role="button" class="btn btn-success" data-dismiss="modal" onclick="newGame()">New Game</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1 text-right">
    <div class="space-2"></div>
    <div class="container" id="num-pad">
      <div class="btn-toolbar" role="toolbar" aria-label="Sudoku numbers">
        <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
          {% for id in dim %}
            <button type="button" id="{{ id }}" class="btn btn-secondary num">{{ dim.index(id) + 1 }}</button>
          {% endfor %}
        </div>
      </div>
      <br>

      <a class="pencil-toggle" role="button" id="pencil-toggle" onclick="togglePencil()">
        <i class="fas fa-pencil-alt fa-2x m-1"></i>Pencil
      </a>
      <div class="space"></div>
      <a class="erase" role="button" id="erase" onclick="erase()">
        <i class="fas fa-eraser fa-2x m-1"></i>Erase
      </a>
      <div class="space"></div>
      <a class="undo" role="button" id="undo" onclick="getLastMove()">
        <i class="fas fa-undo fa-2x m-1"></i>Undo
      </a>
    </div>
  </div>

  <div class="col-7 text-center">
    <div class="game" id="wrapper">
      {% for row in dim %}
        {% for column in dim %}
          <div id="{{ row }}-{{ column }}" class="game-field text-center"></div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="col-4 text-left">
    <div class="space-2"></div>
    <h2>Game Info</h2>
    <div class="jumbotron" id="stats">
      <h3 class="subheader" id="pencilOn">Pencil: Off</h3>
      <h3 class="subheader" id="difficulty">Difficulty: Easy</h3>
      <h3 class="subheader" id="numUndo">Undo: 0</h3>
    </div>
    <button type="button" id="new-game" class="btn btn-primary" onclick="newGame()">New Game</button>
  </div>

  <!-- Game Script -->
  <script src="{{ url_for('static', filename='js/sudoku.js') }}"></script>
{% endblock %}