{% extends 'layout.html' %}

{% block title %}Sudoko{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sudoko.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_bootstrap.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Sudoko</h1>
        <a class="home" id="home" href="{{ url_for('index') }}"><i class="fas fa-home fa-2x"></i></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="game" id="wrapper">
          {% for row in dim %}
            {% for column in dim %}
              <div id="{{ row }}-{{ column }}" class="game-field"></div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}