{% extends 'bases/game_base.html' %}

{% block title %}Tic Tac Toe{% endblock %}

{% block head_sec %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ttt.css') }}">

{% endblock %}

{% block header %}Tic Tac Toe{% endblock %}

{% block game_content %}
  <!-- Icons -->
  <div class="col-2 text-center side-col">
    <a class="computer" id="start-computer" onclick="setFig(this.id)"><i class="fas fa-laptop fa-5x m-2"></i>
      <p>You Start</p>
    </a><br>
    <a class="human" id="start-human" onclick="setFig(this.id)"><i class="fas fa-user fa-5x m-2"></i>
      <p>I'll Start</p>
    </a><br>
    <a class="pvp" id="pvp" onclick="setFig(this.id)"><i class="fas fa-users fa-5x m-1"></i>
      <p>PVP</p>
    </a>
  </div>

  <!-- Tic Tac Toe grid -->
  <div class="col-6 text-center">
    <div class="game" id="wrapper">
      {% for row in dim %}
        {% for column in dim %}
          <div id="{{ row }}-{{ column }}" class="game-field"></div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <!-- Messages -->
  <div class="col-4 text-left side-col">
    <h2>Message Box</h2>
    <div class="jumbotron">
      <h3 class="subheader" id="prompt">Who starts?</h3>
    </div>
    <div class="container">
      <a class="surrender" id="surrender" onclick="reset()"><i class="fas fa-handshake fa-5x"></i>
        <p>Surrender</p>
      </a>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/ttt.js') }}"></script>

{% endblock %}
