{% extends 'base.html' %}

{% block title %}Tic Tac Toe{% endblock %}

{% block head %}
  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- Javascript script -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"><h1>Tic Tac Toe</h1></div>
    </div>

    <div class="row">
      <div class="game">
        <div id="first" onClick="icon(this.id)" class="game-field"></div>
        <div id="second" onClick="icon(this.id)" class="game-field"></div>
        <div id="third" onClick="icon(this.id)" class="game-field"></div>
        <div id="fourth" onClick="icon(this.id)" class="game-field"></div>
        <div id="fifth" onClick="icon(this.id)" class="game-field"></div>
        <div id="sixth" onClick="icon(this.id)" class="game-field"></div>
        <div id="seventh" onClick="icon(this.id)" class="game-field"></div>
        <div id="eight" onClick="icon(this.id)" class="game-field"></div>
        <div id="nineth" onClick="icon(this.id)" class="game-field"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <a class="computer" id="start-computer"><i class="fas fa-laptop fa-5x"></i>
          <p>You Start</p>
        </a>
      </div>

      <div class="col-md-4 text-center">
        <h3 class="subheader prompt" id="prompt">Who starts?</h3>
      </div>

      <div class="col-md-4 text-center">
        <a class="human" id="start-human"><i class="fas fa-user fa-5x"></i>
          <p>I'll Start</p>
        </a>
      </div>
    </div>
  </div>

{% endblock %}
