.game {
    background-color: transparent;
    width: 402px;
    height: 402px;
    margin: 50px auto;
}

.game-field {
    width: 134px;
    height: 134px;
    display: block;
    float: left;
    color: #EAEAEA;
    font-size: 6.3em;
    padding: 1px 27px;
}

#one-one, #one-two, #one-three {
    border-bottom: 3px solid #525B76;
}

#one-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#two-one, #two-two, #two-three {
    border-bottom: 3px solid #525B76;
}

#two-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

#three-two {
    border-left: 3px solid #525B76;
    border-right: 3px solid #525B76;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background: beige;
    color: #222222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default
}

a:hover {
    cursor: pointer
}

.text-center {
    text-align: center !important
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.subheader {
    line-height: 1.4;
    color: #6f6f6f;
    font-weight: 200;
    margin-top: 0.2em;
    margin-bottom: 0.5em
}

h1 {
    font-size: 2.5em
}

h3 {
    font-size: 1.375em
}

.human {
    color: #afd9c8
}

a.human:hover {
    color: #8cc9b0
}

.computer {
    color: #624c47
}

a.computer:hover {
    color: #443532
}

.home {
    color: #443532
}

a.home:hover {
    color: #000000;
}

#circle {
    color: slategrey;
    position: relative;
    right: 16%;
    line-height: 1.25em;
}

#cross {
    color: slategrey;
    position: relative;
    line-height: 1.25em;
}

.space {
    color: #DCEBDF
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}
